:root {
	--white: #fff;
	--text-dark: #303030;
	--text-light: #a4a4a4;
	--background-page: #f0f2f5;
	--background-card: #fff;
	--button-green: #3EEBA0;
}

body {
	width: 97%;
	height: 92vh;
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', 'PT Sans', sans-serif;
	background-color: var(--background-page);
}

.page {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 100px 1fr;
	padding: 30px;
}

.nav {
	background-color: var(--background-card);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav__button {
	width: 100%;
	height: 50px;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 50px;
}

.nav__button_home {
	background-image: url('../img/home.svg');
}

.nav__button_home_active {
	background-image: url('../img/home_active.svg');
}

.nav__button_sleep {
	background-image: url('../img/sleep.svg');
}

.nav__button_sleep_active {
	background-image: url('../img/sleep_active.svg');
}

.nav__button_light {
	background-image: url('../img/lighting.svg');
}

.nav__button_light_active {
	background-image: url('../img/lighting_active.svg');
}

.nav__button_camera {
	background-image: url('../img/camera.svg');
}

.nav__button_camera_active {
	background-image: url('../img/camera_active.svg');
}

.nav__button_settings {
	background-image: url('../img/settings.svg');
}

.nav__button_settings_active {
	background-image: url('../img/settings_active.svg');
}

.main {
	display: grid;
	grid-template-rows: auto 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "post-1 post-1 post-1"
                       	"post-2 post-3 post-3"
                       	"post-4 post-5 post-6"
                       	"post-7 post-8 post-9"
                        "post-7 post-8 post-10";
	grid-gap: 20px;
	margin: 0 20px 0 20px;
}

.main-card {
	background-color: var(--background-card);
	border-radius: 20px;
}

.main-card p {
	color: var(--text-light);
	font-size: 24px;
	text-transform: uppercase;
	margin: 20px 0 10px 40px;
}

.header {
	grid-area: post-1;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px 0 40px;
}

.header h1 {
	color: var(--text-dark);
	font-size: 32px;
	font-weight: 400;
}

.header__block {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.time {
	color: var(--text-dark);
	font-size: 36px;
	font-weight: 400;
}

.data {
	color: var(--text-light);
	font-weight: 600;
}

.weather {
	grid-area: post-2;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.weather__thermo {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 16px;
	height: 41px;
	background-image: url('../img/thermo.svg');
	background-position: center;
	background-repeat: no-repeat;
}

.weather__title {
	display: flex;
}

.weather__title p {
	color: var(--text-dark);
	font-size: 72px;
	font-weight: 400;
	margin: 0;
}

.weather__title span {
	color: var(--text-dark);
	font-size: 24px;
	font-weight: 400;
	margin: 0 10px 0 0;
}

.weather__img {
	width: 100px;
	height: 100px;
	background-image: url('../img/sun_active.svg');
	background-position: center;
	background-repeat: no-repeat;
}

.forecast {
	grid-area: post-3;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.forecast__item {
	height: 133px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.forecast__item img {
	flex-grow: 2;
}

.forecast__item span {
	color: var(--text-dark);
	font-size: 20px;
}

.forecast__item .wiather__night {
	color: var(--text-light);
	font-size: 16px;
}

.lighting {
	grid-area: post-4;
}

.lighting__control {
	width: 100%;
	height: auto;
	position: relative;
	margin: 7px 0 7px 0;
}

.lighting__control-input {
	z-index: -1;
	opacity: 0;
}

.lighting__controls label {
	color: var(--text-dark);
	font-size: 20px;
	line-height: 32px;
	margin-left: 15px;
}

.lighting__control-input + label:before {
	content: '';
	display: inline-block;
	position: absolute;
	right: 40px;
	top: 0;
	width: 60px;
	height: 40px;
	background-image: url('../img/control_off.svg');
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.lighting__control-input:checked + label:before {
	background-image: url('../img/control_on.svg');
}

.ventilation {
	grid-area: post-5;
}

.ventilation__controls {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
}

.ventilation__control-input {
	/*visibility: hidden;*/
	/*display: none;*/
	margin: 0;
}

.ventilation__control label {
	padding: 20px 20px;
	margin: 5px;
	background-color: var(--background-page);
	cursor: pointer;
	border-radius: 10px;
	color: var(--text-dark);
	font-size: 20px;
}

.ventilation__control:checked label {
	background-color: var(--button-green);
}

.music {
	grid-area: post-6;
}

.main-card__resources {
	grid-area: post-7;
}

.main-card__calendar {
	grid-area: post-8;
}

.main-card__camera {

}